{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h1 class="container mt-4">Inscription étudiant</h1>
<div class="container mt-3">
    {{form_start(form)}}
    
    {{form_widget(form)}}

    <input type="submit" class="btn btn-primary mt-2" value="Enregistrer le nouvel étudiant" />
    <input type="reset"  class="btn btn-primary mt-2" value="Anuller">
    {{form_end(form)}}
    	<a type="button" class="btn btn-outline-primary mt-2" href="{{ path('app_etudiants') }}">Retour à la liste</a>

</div>

{% endblock %}
