{% extends 'base.html.twig' %}

{% block title %}Edit Note{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Modifier note</h1>
    {{ include('note/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('note/_delete_form.html.twig') }}
    </div>
{% endblock %}
