{% extends 'base.html.twig' %}
{% block title %}Page non trouvée
{% endblock %}

{% block body %}
	<div class="container mt-5 ">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
       <h1>Oups ! La Page que vous recherchez n'existe pas</h1>	
	<p>On A surement du mal vous renseigner ! Aucun soucis , vous pouvez retourner a l'accueil</p>
    <a href="{{path('app_home')}}" class="btn btn-primary">l'accueil</a>
    {% else %}
    <h1>Oups ! La Page que vous recherchez n'existe pas</h1>	
	<p>On A surement du mal vous renseigner ! Aucun soucis , vous pouvez retourner a l'accueil ou a la page de Connexion</p>
    <a href="{{path('app_home')}}" class="btn btn-primary">l'accueil</a>
    <a href="{{path('app_login')}}" class="btn btn-primary">Connexion</a>
    {% endif %}
    </div>
	
{% endblock %}
