{% extends 'base.html.twig' %}

{% block title %}New Matieres{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Créer une nouvelle matière</h1>
    {{ include('matieres/_form.html.twig') }}
    </div>
{% endblock %}
